.top-bar {
  background-color: rgba(239, 240, 240, 1);
  padding: 12px 0;
}
.top-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(115, 115, 115, 1);
}
.top-bar__left-text,
.top-bar__center-text,
.top-bar__right-text {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 14px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__badge {
  font-weight: 700;
  font-size: 16px;
}
.header__badge-span {
  background-color: #d60000;
  color: white;
  font-weight: 700;
  padding: 2px 12px;
  border-radius: 999px;
  font-size: 16px;
  white-space: nowrap;
  display: inline-block;
}
.primary-nav__list {
  display: flex;
  gap: 16px;
}
.primary-nav__link {
  font-weight: 400;
  font-size: 14px;
  color: rgba(38, 38, 38, 1);
}
.primary-nav__link:hover {
  color: #d60000;
  transition: 0.1s;
}
.header__right {
  display: flex;
  gap: 12px;
}
.header__right-first-number {
  font-weight: 700;
  font-size: 24px;
  color: rgba(38, 38, 38, 1);
}
.header__right-second-number {
  font-weight: 400;
  font-size: 16px;
  color: rgba(38, 38, 38, 1);
}
.header__right-action {
  background-color: rgba(202, 1, 0, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  padding: 16px 10px;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
}
.secondary-nav__list {
  display: flex;
  align-items: center;
  gap: 86px;
}
.secondary-nav-link {
  font-weight: 700;
  font-size: 16px;
  color: rgba(38, 38, 38, 1);
}
.secondary-nav-link:hover {
  color: #d60000;
  transition: 0.1s;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__icon {
  position: relative;
  display: inline-block;
}
.header__icon-img {
  width: 24px;
  height: 24px;
}
.header__icon-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  line-height: 1;
}
